<li
  [value]="item.id"
  class="flex items-center justify-between p-2 gap-10 border-b-2 m-1"
>
  <div class="flex flex-col items-center justify-end">
    <span
      class="text-left font-bold md:max-w-screen-sm max-w-60 w-screen"
      id="nameId"
    >
      {{ item.name }}
    </span>
    <span
      class="text-left md:max-w-screen-sm max-w-60 w-screen text-sm"
      id="nameId"
    >
      {{ item.accountName }}
    </span>
  </div>
  <div class="flex flex-col items-center justify-start text-right">
    <span class="flex flex-nowrap gap-1">
      {{
        (item.type == "EXPENSE" ? "-" : "") +
          item.defaultCurrencyAmount.toFixed(2)
      }}<span class="font-bold ml-2 w-auto">{{
        item.defaultCurrency | uppercase
      }}</span>
    </span>
    <span
      class="flex flex-nowrap gap-1 text-sm w-auto"
      *ngIf="item.defaultCurrency != item.currency"
    >
      {{ (item.type == "EXPENSE" ? "-" : "") + item.balance.toFixed(2)
      }}<span
        class="font-bold ml-2 w-auto"
        *ngIf="item.defaultCurrency != item.currency"
        >{{ item.currency | uppercase }}</span
      >
    </span>
  </div>
  <div class="flex items-center justify-center">
    <span *ngIf="item.type == 'INCOME'"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 text-green-700"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"
        />
      </svg>
    </span>
    <span *ngIf="item.type == 'EXPENSE'"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 text-red-700"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181"
        />
      </svg>
    </span>
  </div>
</li>
