<nav
  class="fixed top-0 z-20 bg-white border-gray-200 dark:bg-gray-900 w-full md:flex md:items-center md:justify-between"
>
  <div
    class="max-w-screen-xl w-screen mx-auto flex text-nowrap items-center justify-between pt-4 md:px-36 px-5 gap-5 md:gap-20 border-b-2 border-black"
  >
    <a href="" class="flex items-center space-x-3">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >MyBudget</span
      >
    </a>
    <div class="w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-normal md:font-medium flex flex-row gap-2 md:p-0 border-gray-100 rounded-lg md:space-x-8 border-0 md:bg-white"
      >
        <li *ngFor="let item of items">
          <a
            routerLinkActive="font-bold bg-black text-white hover:bg-black hover:text-white p-1 md:p-2 rounded-t-md px-4"
            class="block py-1 md:py-2 px-2 md:px-3 hover:rounded-t-md text-gray-900 hover:bg-gray-100 hover:text-yellow-400"
            [routerLink]="item.url"
            >{{ item.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
