<div
  class="max-w-screen-xl w-screen flex flex-col items-center justify-center mx-auto p-4"
>
  <div
    class="flex flex-raw items-center justify-between max-w-screen-sm w-screen gap-2"
  >
    <span class="font-bold bg-black text-white p-2 rounded-md px-4"
      >All accounts</span
    >
    <button
      class="inline-flex items-center justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      (click)="toggleAccountModal()"
    >
      Add account
    </button>
  </div>
  <ul class="flex flex-col">
    <app-list-item [item]="item" *ngFor="let item of itemList"></app-list-item>
  </ul>
</div>

<app-new-account-modal
  (closeModal)="toggleAccountModal()"
  *ngIf="showAccountModal"
></app-new-account-modal>
